<mat-drawer-container class="full-height-and-width persistent-side-nav" autosize>
    <mat-drawer #drawer fixedInViewPort="true" mode="side">
        <div class="side-nav">
            <div>Ola!!!</div>
            <div>Ola!!!</div>
            <div>Ola!!!</div>
            <div>Ola!!!</div>
            
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" class="button-secondary" mat-flat-button (click)="drawer.toggle()">
        Toggle sidenav  
        </button>
    </div>

</mat-drawer-container>